In [1]:
%load_ext sql

In [8]:
%sql postgresql://guest:0OgVob4ivdXE@ep-sweet-mode-273478.us-east-2.aws.neon.tech/issue_info

Проверяем, что в данных нет "дыр" - если задача была создана, то она была загружена во все последующие дни до окончания релиза без пропусков

In [3]:
%%sql

select
    jira_issue_key,
    count(distinct date_issue) days_cnt,
    max(date_issue) - min(date_issue) + 1 as expected_days_cnt
from issue_info
group by 1
limit 5

 * postgresql://guest:***@ep-sweet-mode-273478.us-east-2.aws.neon.tech/issue_info
5 rows affected.

[('ACCENTURE3-112', 93, 107),
 ('ACCENTURE3-266', 33, 45),
 ('ACCENTURE3-280', 93, 107),
 ('ACCENTURE3-281', 33, 45),
 ('ACCENTURE3-282', 33, 45)]

In [4]:
%%sql

select *
from issue_info
where jira_issue_key = 'ACCENTURE3-266'
order by date_issue

 * postgresql://guest:***@ep-sweet-mode-273478.us-east-2.aws.neon.tech/issue_info
33 rows affected.

[(datetime.date(2020, 1, 29), 'ACCENTURE3-266', 'Epic', 'To Do'),
 (datetime.date(2020, 1, 30), 'ACCENTURE3-266', 'Epic', 'To Do'),
 (datetime.date(2020, 1, 31), 'ACCENTURE3-266', 'Epic', 'To Do'),
 (datetime.date(2020, 2, 1), 'ACCENTURE3-266', 'Epic', 'To Do'),
 (datetime.date(2020, 2, 2), 'ACCENTURE3-266', 'Epic', 'To Do'),
 (datetime.date(2020, 2, 3), 'ACCENTURE3-266', 'Epic', 'To Do'),
 (datetime.date(2020, 2, 4), 'ACCENTURE3-266', 'Epic', 'To Do'),
 (datetime.date(2020, 2, 5), 'ACCENTURE3-266', 'Epic', 'To Do'),
 (datetime.date(2020, 2, 6), 'ACCENTURE3-266', 'Epic', 'To Do'),
 (datetime.date(2020, 2, 7), 'ACCENTURE3-266', 'Epic', 'To Do'),
 (datetime.date(2020, 2, 8), 'ACCENTURE3-266', 'Epic', 'To Do'),
 (datetime.date(2020, 2, 9), 'ACCENTURE3-266', 'Epic', 'To Do'),
 (datetime.date(2020, 2, 10), 'ACCENTURE3-266', 'Epic', 'To Do'),
 (datetime.date(2020, 2, 11), 'ACCENTURE3-266', 'Epic', 'To Do'),
 (datetime.date(2020, 2, 12), 'ACCENTURE3-266', 'Epic', 'To Do'),
 (datetime.date(2020, 2, 13), 'ACCENTURE3-266', 'Epic', 'To Do'),
 (datetime.date(2020, 2, 14), 'ACCENTURE3-266', 'Epic', 'To Do'),
 (datetime.date(2020, 2, 15), 'ACCENTURE3-266', 'Epic', 'To Do'),
 (datetime.date(2020, 2, 16), 'ACCENTURE3-266', 'Epic', 'To Do'),
 (datetime.date(2020, 2, 17), 'ACCENTURE3-266', 'Epic', 'To Do'),
 (datetime.date(2020, 2, 18), 'ACCENTURE3-266', 'Epic', 'To Do'),
 (datetime.date(2020, 2, 19), 'ACCENTURE3-266', 'Epic', 'To Do'),
 (datetime.date(2020, 2, 20), 'ACCENTURE3-266', 'Epic', 'To Do'),
 (datetime.date(2020, 2, 21), 'ACCENTURE3-266', 'Epic', 'To Do'),
 (datetime.date(2020, 2, 22), 'ACCENTURE3-266', 'Epic', 'To Do'),
 (datetime.date(2020, 2, 23), 'ACCENTURE3-266', 'Epic', 'To Do'),
 (datetime.date(2020, 2, 24), 'ACCENTURE3-266', 'Epic', 'To Do'),
 (datetime.date(2020, 2, 25), 'ACCENTURE3-266', 'Epic', 'To Do'),
 (datetime.date(2020, 2, 26), 'ACCENTURE3-266', 'Epic', 'To Do'),
 (datetime.date(2020, 2, 27), 'ACCENTURE3-266', 'Epic', 'To Do'),
 (datetime.date(2020, 2, 28), 'ACCENTURE3-266', 'Epic', 'To Do'),
 (datetime.date(2020, 2, 29), 'ACCENTURE3-266', 'Epic', 'To Do'),
 (datetime.date(2020, 3, 13), 'ACCENTURE3-266', 'Epic', 'To Do')]

"Дыры" есть, будем учитывать это в решении.
А именно, при формировании итогового результата не будем полагаться на наличие каждого дня в данных, а будем формировать календарь самостоятельно. При отсутствии статуса задачи за день будем брать предыдущий имеющийся. Если задача не была создана к этому моменту, то она не учитывается. Это может привести к тому, что готовность релиза может уменьшаться со временем. Считаю это нормой.

In [5]:
%%sql

select min(date_issue), max(date_issue)
from issue_info

 * postgresql://guest:***@ep-sweet-mode-273478.us-east-2.aws.neon.tech/issue_info
1 rows affected.

[(datetime.date(2019, 11, 28), datetime.date(2020, 3, 13))]

Рабочими днями считаем все календарные (вкл. Сб. и Вс.). Соответственно, в ответе должны содержаться все дни с 2019.11.28 по 2020.03.13 включительно.

Используя генерацию последовательности дат, заполняю "дыры" в датах в итоговом запросе

# Решение

In [9]:
%%sql

with calendar as (
    select date::date
    from generate_series(
        (select min(date_issue) from issue_info),
        (select max(date_issue) from issue_info),
        '1 day'
    ) as date
), data_with_holes as (
    select
        cl.date,
        ids.jira_issue_key,
        i.issue_type_name,
        i.issue_status_name
    from calendar cl
    cross join (
        select distinct jira_issue_key
        from issue_info
    ) ids
    left join issue_info i
    on cl.date = i.date_issue
    and ids.jira_issue_key = i.jira_issue_key
), data as (
    select
        date, jira_issue_key, issue_type_name, issue_status_name
    from (
        select
            d1.date,
            d1.jira_issue_key,
            d2.issue_type_name,
            d2.issue_status_name,
            row_number() over(partition by d1.date, d1.jira_issue_key order by d2.date desc) rn
        from data_with_holes d1
        join data_with_holes d2
        on d1.jira_issue_key = d2.jira_issue_key
        and (
            (d1.issue_status_name is not null and d1.date = d2.date)
            or
            (d1.issue_status_name is null and d1.date > d2.date and d2.issue_status_name is not null)
        )
    ) t
    where rn = 1
)
select
    date,
    (cast(100 as real) * count(
        case when issue_type_name = 'Epic' and issue_status_name = 'Done' then 1 end
    ) /
    count(
        case when issue_status_name <> 'Cancelled' then 1 end
    )) release_percent
from data
group by 1
order by 1

 * postgresql://guest:***@ep-sweet-mode-273478.us-east-2.aws.neon.tech/issue_info
107 rows affected.

[(datetime.date(2019, 11, 28), 0.5025125628140703),
 (datetime.date(2019, 11, 29), 0.5240174672489083),
 (datetime.date(2019, 11, 30), 0.5237887385421214),
 (datetime.date(2019, 12, 1), 0.5237887385421214),
 (datetime.date(2019, 12, 2), 0.5541346973572038),
 (datetime.date(2019, 12, 3), 0.5806719203649938),
 (datetime.date(2019, 12, 4), 0.5658852061438965),
 (datetime.date(2019, 12, 5), 0.5582137161084529),
 (datetime.date(2019, 12, 6), 0.5884660651235779),
 (datetime.date(2019, 12, 7), 0.5751533742331288),
 (datetime.date(2019, 12, 8), 0.6132617861249521),
 (datetime.date(2019, 12, 9), 0.7153614457831325),
 (datetime.date(2019, 12, 10), 0.8849557522123894),
 (datetime.date(2019, 12, 11), 0.8580622095101895),
 (datetime.date(2019, 12, 12), 0.8677542519958348),
 (datetime.date(2019, 12, 13), 0.8547008547008547),
 (datetime.date(2019, 12, 14), 0.8547008547008547),
 (datetime.date(2019, 12, 15), 0.8544087491455913),
 (datetime.date(2019, 12, 16), 0.8428860418071477),
 (datetime.date(2019, 12, 17), 0.8286377195889957),
 (datetime.date(2019, 12, 18), 0.8516213560432362),
 (datetime.date(2019, 12, 19), 0.837898807605543),
 (datetime.date(2019, 12, 20), 0.8914358484559057),
 (datetime.date(2019, 12, 21), 0.8914358484559057),
 (datetime.date(2019, 12, 22), 0.8914358484559057),
 (datetime.date(2019, 12, 23), 0.905683947532792),
 (datetime.date(2019, 12, 24), 0.8895705521472392),
 (datetime.date(2019, 12, 25), 0.8790542588663232),
 (datetime.date(2019, 12, 26), 0.8899436369029962),
 (datetime.date(2019, 12, 27), 0.9104258443465492),
 (datetime.date(2019, 12, 28), 0.9104258443465492),
 (datetime.date(2019, 12, 29), 0.91015854374633),
 (datetime.date(2019, 12, 30), 0.9343065693430657),
 (datetime.date(2019, 12, 31), 0.9299622202848009),
 (datetime.date(2020, 1, 1), 0.9299622202848009),
 (datetime.date(2020, 1, 2), 0.9299622202848009),
 (datetime.date(2020, 1, 3), 0.9299622202848009),
 (datetime.date(2020, 1, 4), 0.9299622202848009),
 (datetime.date(2020, 1, 5), 0.9299622202848009),
 (datetime.date(2020, 1, 6), 0.9299622202848009),
 (datetime.date(2020, 1, 7), 0.9288824383164006),
 (datetime.date(2020, 1, 8), 0.9288824383164006),
 (datetime.date(2020, 1, 9), 0.980674935102394),
 (datetime.date(2020, 1, 10), 1.0273972602739727),
 (datetime.date(2020, 1, 11), 1.0253489034463117),
 (datetime.date(2020, 1, 12), 1.0253489034463117),
 (datetime.date(2020, 1, 13), 1.0641276953234389),
 (datetime.date(2020, 1, 14), 1.1462882096069869),
 (datetime.date(2020, 1, 15), 1.222428913101249),
 (datetime.date(2020, 1, 16), 1.1889377100025846),
 (datetime.date(2020, 1, 17), 1.1477045908183632),
 (datetime.date(2020, 1, 18), 1.1448481831757094),
 (datetime.date(2020, 1, 19), 1.1448481831757094),
 (datetime.date(2020, 1, 20), 1.0923771075753979),
 (datetime.date(2020, 1, 21), 1.0499885870805752),
 (datetime.date(2020, 1, 22), 1.0141093474426808),
 (datetime.date(2020, 1, 23), 1.0125467752586397),
 (datetime.date(2020, 1, 24), 1.0101010101010102),
 (datetime.date(2020, 1, 25), 1.0077682133109385),
 (datetime.date(2020, 1, 26), 1.0058675607711651),
 (datetime.date(2020, 1, 27), 0.9781944161402079),
 (datetime.date(2020, 1, 28), 0.9587164938368226),
 (datetime.date(2020, 1, 29), 0.9097801364670205),
 (datetime.date(2020, 1, 30), 0.8860993169651098),
 (datetime.date(2020, 1, 31), 0.8668954307386671),
 (datetime.date(2020, 2, 1), 0.8661133164922411),
 (datetime.date(2020, 2, 2), 0.862223818932998),
 (datetime.date(2020, 2, 3), 0.8450704225352113),
 (datetime.date(2020, 2, 4), 0.8234688625836336),
 (datetime.date(2020, 2, 5), 0.8087615838247684),
 (datetime.date(2020, 2, 6), 0.7956240676280457),
 (datetime.date(2020, 2, 7), 0.8165931732810714),
 (datetime.date(2020, 2, 8), 0.8135372600065083),
 (datetime.date(2020, 2, 9), 0.8134049129656743),
 (datetime.date(2020, 2, 10), 0.8119726158255055),
 (datetime.date(2020, 2, 11), 0.8470588235294118),
 (datetime.date(2020, 2, 12), 0.9276437847866419),
 (datetime.date(2020, 2, 13), 0.9448338921060653),
 (datetime.date(2020, 2, 14), 0.990842215883501),
 (datetime.date(2020, 2, 15), 0.9881718820182662),
 (datetime.date(2020, 2, 16), 0.9881718820182662),
 (datetime.date(2020, 2, 17), 1.0499852114758947),
 (datetime.date(2020, 2, 18), 1.0765202211230724),
 (datetime.date(2020, 2, 19), 3.398336679093777),
 (datetime.date(2020, 2, 20), 3.364565587734242),
 (datetime.date(2020, 2, 21), 3.334271243669105),
 (datetime.date(2020, 2, 22), 3.3487459716967916),
 (datetime.date(2020, 2, 23), 3.3440604449419338),
 (datetime.date(2020, 2, 24), 3.343592613318411),
 (datetime.date(2020, 2, 25), 3.3111665281241343),
 (datetime.date(2020, 2, 26), 3.2744211535826824),
 (datetime.date(2020, 2, 27), 3.2624881548666576),
 (datetime.date(2020, 2, 28), 3.2745255279337075),
 (datetime.date(2020, 2, 29), 3.273650454302512),
 (datetime.date(2020, 3, 1), 3.273650454302512),
 (datetime.date(2020, 3, 2), 3.273650454302512),
 (datetime.date(2020, 3, 3), 3.273650454302512),
 (datetime.date(2020, 3, 4), 3.273650454302512),
 (datetime.date(2020, 3, 5), 3.273650454302512),
 (datetime.date(2020, 3, 6), 3.273650454302512),
 (datetime.date(2020, 3, 7), 3.273650454302512),
 (datetime.date(2020, 3, 8), 3.273650454302512),
 (datetime.date(2020, 3, 9), 3.273650454302512),
 (datetime.date(2020, 3, 10), 3.273650454302512),
 (datetime.date(2020, 3, 11), 3.273650454302512),
 (datetime.date(2020, 3, 12), 3.273650454302512),
 (datetime.date(2020, 3, 13), 3.280318091451292)]

Корректность формулы вычисления готовности релиза сомнительна, так как количество эпиков делится на количество всех задач, что никогда не даст 100%.
В реальной задаче я бы выяснила, откуда взялась именно такая формула, и обсудила её правильность.